html  {
	background: url(../img1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header  {
	background-color: #f1f1f1;
	text-align: center;
	width:75%;
	height:25%;
	margin-left: auto;
	margin-right: auto;
	border:2px;
	border-radius:25px;
}
#bdj  {
	position: relative;
	top: 30px
}
#intro  {
	position: relative;
	top: 18px;
}

#startbtn  {
	position: relative;
	top:50px;
}
#journal  {
	background-color: #ededed;
	border:2px;
	border-radius:25px;
	width:75%;
	height:65%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 5px;
	text-align: center;
}
#jtop  {
	height: 50%;
}
#jbottom  {
	height: 50%;
}
#counter  {
	position: relative;
	right:550px;
}