<html ng-app="best_day">
<head>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<title>Best Days</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body ng-controller="bdctrl">
		<div id="header">
			<p id="bdj"><h1>Best Day Journal</h1></p>
			<p id="intro">Keep your good days with you.</p>
				<div>
					<button id="startbtn" ng-click="showJournal = ! showJournal" class="pure-button pure-button-primary">Get Journaling!</button>
				</div>
		</div>
		<div id="journal" ng-show="showJournal">
			<div id="jtop">
				<h3>Describe your best day. Give it a date. Hit submit.</h3> <br />
					<div>
						<input type="text" id="describe" ng-model="newDay.day" placeholder="Description.."></input>
						<input type="text" id="describe" ng-model="newDay.date" placeholder="mm/dd/yyyy"></input> <br />
						<button class="pure-button pure-button-primary" ng-click="addDay()">Submit</button>
							<div>
								<h2>Example:</h2> <br />
								<h3>Fell in love with a stripper - 03/15/2003</h3>
							</div>
					</div>
			</div>
			<div id="jbottom">
				<p id="counter">Number of days:</p> <br />
					<div id="thelist">
						<ul>
            				<li id="allthedays" ng-repeat="day in daylist">{{ day.day }} - {{ day.date }}</li>
       					</ul>
       				</div>	
			</div>
		</div>
		

</body>
</html>